// Scss Document
$text-color-white: #EEECE8;
$fixed-color: #291D1D;
$contents-color: #4A3E3E;
$IMG_PATH_PC: '../images/pc/';
$IMG_PATH_SP: '../images/sp/';
$base_width_pc: 1280;
$inner_width_pc: 1000;
$base_width_sp: 375;
$inner_width_sp: 335;
$sawarabi-family: "Sawarabi Mincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
$hannnari-family: "はんなり明朝", "Sawarabi Mincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
